/* Universal Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
}

body {
    background-color: #000000;
    color: #FFFFFF;
}

div.parent {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

/* CSS Grid / Flex */

/* Window Container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.7fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
        "navbar"
        "content"
        "buttons";
    width: 100vw;
    height: 100vh;
}

/* Navbar */
.grid-navbar {
    grid-area: navbar;
    background-color: #131313;
}

.flex-navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Content Container */
.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "checklist script";
    grid-area: content;
    background-color: #252525;
}

/* Content Sub Containers */
.grid-checklist {
    border: solid 1px #00FF00;
    grid-area: checklist;
}

.grid-script {
    border: solid 1px #00FF00;
    grid-area: script;
}

/* Button Container */
.grid-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "checkButton codeButton";
    grid-area: buttons;
    background-color: #131313;
}

/* Config Buttons */
.grid-config-buttons {
    grid-area: checkButton;
    text-align: center;
}

.flex-config-buttons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Script Buttons */
.grid-script-buttons {
    grid-area: codeButton;
    text-align: center;
}

.flex-script-buttons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
