/* Universal Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
}

/* CSS Grid / Flex */

/* Window Container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.7fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
        "navbar"
        "content"
        "buttons";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Navbar */
.grid-navbar {
    grid-area: navbar;
    background-color: #131313;
}

.flex-navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Content Container */
.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "checklist script";
    grid-area: content;
    background-color: #252525;
    overflow-y: auto;
}

/* Checklist */
.grid-checklist {
    border-right: solid 2px #000000;
    grid-area: checklist;
    overflow-y: scroll;
}

.flex-checklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.grid-checklist-card {
    display: grid;
    width: 95%;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "checkbox title"
        "icon description";
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #00FF00;
}

.grid-checklist-card-checkbox {
    grid-area: checkbox;
}

.grid-checklist-card-title {
    grid-area: title;
}

.grid-checklist-card-icon {
    grid-area: icon;
}

.checklist-card-icon-img {
    width: 80px;
    height: auto;
}


.grid-checklist-card-description {
    grid-area: description;
}


/* Script */
.grid-script {
    grid-area: script;
}

.flex-script {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.script-text-area {
    display: flex;
    border: 2px solid #000000;
    background-color: #131313;
    color: #FFFFFF;
    resize: none;
    width: 95%;
    height: 95%;
}

/* Button Container */
.grid-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "checkButton codeButton";
    grid-area: buttons;
    background-color: #131313;
}

/* Config Buttons */
.grid-config-buttons {
    grid-area: checkButton;
    text-align: center;
}

.flex-config-buttons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Script Buttons */
.grid-script-buttons {
    grid-area: codeButton;
    text-align: center;
}

.flex-script-buttons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
